<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="floorassemblr1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.148588308492964 -1.66609995121903 0.932077952055182"
        rpy="0 0 0" />
      <mass
        value="40" />
      <inertia
        ixx="13.3336666666667"
        ixy="6.01370805005293E-17"
        ixz="-3.6822125440638E-33"
        iyy="3.33366666666667"
        iyz="8.16383825775689E-16"
        izz="16.6666666666667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="fsdf">
    <inertial>
      <origin
        xyz="-0.5 0.005 2.22044604925031E-16"
        rpy="0 0 0" />
      <mass
        value="40" />
      <inertia
        ixx="13.3336666666667"
        ixy="0"
        ixz="-6.01370805005293E-17"
        iyy="16.6666666666667"
        iyz="-1.1612191474259E-34"
        izz="3.33366666666667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1/meshes/fsdf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1/meshes/fsdf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sdfsdf"
    type="fixed">
    <origin
      xyz="0.64859 -1.6661 0.92708"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="fsdf" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>