<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="floorassemblr1038">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.14859 0.93208 1.6661"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0.41671"
        ixy="0"
        ixz="1.1565E-18"
        iyy="0.52083"
        iyz="-2.2597E-35"
        izz="0.10421" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1038/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1038/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="side">
    <inertial>
      <origin
        xyz="0 0.005 2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="5" />
      <inertia
        ixx="0.41671"
        ixy="0"
        ixz="0"
        iyy="0.52083"
        iyz="-2.903E-35"
        izz="0.10421" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1038/meshes/side.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://floorassemblr1038/meshes/side.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="side"
    type="fixed">
    <origin
      xyz="0.64859 -1.6661 0.92708"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="side" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>